<!--Author: W3layouts
   Author URL: http://w3layouts.com
   License: Creative Commons Attribution 3.0 Unported
   License URL: http://creativecommons.org/licenses/by/3.0/
   -->
<!DOCTYPE HTML>
<html>
<head>
    <title>Manage Games | Man of the Match | Game App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <!-- Custom Theme files -->
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/gameApp.css" rel="stylesheet" type="text/css" media="all"/>
    <!--js-->
    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!--icons-css-->
    <!--<link href="css/font-awesome.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!--Google Fonts-->
    <link href='//fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Work+Sans:400,500,600' rel='stylesheet' type='text/css'>
    <!--static chart-->
    <script src="js/Chart.min.js"></script>
    <!--//charts-->
    <!--<script src="apexcharts/apexcharts.js"></script>-->
    <!--<script src="apexcharts/modules/Annotations.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <!--skycons-icons-->
    <script src="js/skycons.js"></script>
    <!--//skycons-icons-->
    <script type="text/javascript" src="js/portal.js"></script>
</head>
<body>
<div class="page-container">
    <div class="left-content">
        <div class="mother-grid-inner">
            <!-- HEADER -->
            <%- html["header"] %>

            <!-- script-for sticky-nav -->
            <script>
                $(document).ready(function() {
                    var navoffeset=$(".header-main").offset().top;
                    $(window).scroll(function(){
                        var scrollpos=$(window).scrollTop();
                        if(scrollpos >=navoffeset){
                            $(".header-main").addClass("fixed");
                        }else{
                            $(".header-main").removeClass("fixed");
                        }
                    });

                });
            </script>
            <!-- /script-for sticky-nav -->
            <!--inner block start here-->
            <div class="inner-block">

                <!--market updates updates-->
                <%- html["market"] %>

                <!-- GAMES -->
                <div class="chit-chat-layer1">
                    <div class="col-md-12 chit-chat-layer1-left">
                        <div class="work-progres">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="chit-chat-heading">
                                        Games
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                 <span class="pull-right">
                                 <button id="new_game" type="button" class="btn btn-success" data-toggle="modal" data-target="#modalNewGame">New Game</button>
                                 </span>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Date</th>
                                        <th>Oponent</th>
                                        <th>Home/Away</th>
                                        <th>Ground / Oval</th>
                                        <th>Result</th>
                                        <!--                                       <th>Status</th>
                                           <th>Progress</th>
                                           -->
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <% games.forEach(function(game){ %>
                                        <tr id="G_<%= game._id %>">
                                            <td><%= game.number %></td>
                                            <td><%= game.gameday %></td>
                                            <td><%= game.oponent %></td>
                                            <td>
                                                <% if (game.homegame == true) { %>
                                                    <button id="savemodalUpdateGame" type="button" class="btn btn-success" data-toggle="modal">
                                                        Home
                                                    </button>
                                                <% } else { %>
                                                    <button id="savemodalUpdateGame" type="button" class="btn btn-primary" data-toggle="modal">
                                                        Away
                                                    </button>
                                                <% } %>
                                            </td>
                                            <td><%= game.location %></td>
                                            <td><%= game.goalsscored %> : <%= game.goalsconceded %></td>
                                            <td>
                                                <button id="savemodalUpdateGame" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalUpdateGame"
                                                        data-_id="<%= game._id %>"
                                                        data-number="<%= game.number %>"
                                                        data-gameDay="<%= game.gameday %>"
                                                        data-oponent="<%= game.oponent %>"
                                                        data-homeGame="<%= game.homegame %>"
                                                        data-location="<%= game.location %>"
                                                        data-result="<%= game.result %>"
                                                        data-goalsscored="<%= game.goalsscored %>"
                                                        data-goalsconceded="<%= game.goalsconceded %>"
                                                >
                                                    Update
                                                </button>
                                            </td>
                                            <td>
                                                <button id="savemodalDeleteGame" type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalDeleteGame"
                                                        data-_id="<%= game._id %>"
                                                        data-number="<%= game.number %>"
                                                        data-gameDay="<%= game.gameday %>"
                                                        data-oponent="<%= game.oponent %>"
                                                        data-homeGame="<%= game.homegame %>"
                                                        data-location="<%= game.location %>"
                                                        data-result="<%= game.result %>"
                                                        data-goalsscored="<%= game.goalsscored %>"
                                                        data-goalsconceded="<%= game.goalsconceded %>"
                                                >
                                                    Delete
                                                </button>
                                            </td>
                                            <!--
                                               <td><span class="label label-danger">in progress</span></td>
                                               <td><span class="badge badge-info">50%</span></td>
                                               -->
                                        </tr>
                                    <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>

            </div>

            <!--inner block end here-->
            <!--copy rights start here-->
            <div class="copyrights" style="padding-top: 4000px">
                <p>© 2016 Shoppy. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
            </div>
            <!--COPY rights end here-->
        </div>
    </div>
    <!--slider menu-->
    <%- html["menu"] %>

</div>
<!--slide bar menu end here-->

<!-- Modal Update Game -->
<div class="modal fade" id="modalUpdateGame" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--<div class="modal-header">-->
                <!--<h5 class="modal-title" id="exampleModalLabel">Update Game</h5>-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                    <!--<span aria-hidden="true">&times;</span>-->
                <!--</button>-->
            <!--</div>-->
            <h5 class="alert alert-warning modal-title" id="exampleModalLabel">Update Game</h5>
            <div class="modal-body" style="display: none">
                <label for="id" class="col-form-label">ID:</label>
                <input class="form-control" name="ug_id" id="ug_id">
            </div>
            <div class="modal-body" style="">
                <label for="ug_goalsscored" class="col-form-label">Goals Scored:</label>
                <input class="form-control" name="ug_goalsscored" id="ug_goalsscored">
            </div>
            <div class="modal-body" style="">
                <label for="ug_goalsconceded" class="col-form-label">Goals Conceded:</label>
                <input class="form-control" name="ug_goalsconceded" id="ug_goalsconceded">
            </div>
            <div class="modal-body" style="display: none">
                <label for="ug_number" class="col-form-label">Number:</label>
                <input class="form-control" name="ug_number" id="ug_number">
            </div>
            <div class="modal-body" style="">
                <label for="ug_location" class="col-form-label">Ground / Oval:</label>
                <input class="form-control" name="ug_location" id="ug_location">
            </div>
            <div class="modal-body" style="">
                <label for="ug_homegame" class="col-form-label">Home / Away:</label>
                <!--<input class="form-control" name="ug_homegame" id="ug_homegame">-->
                <select class="form-control" name="ug_homegame" id="ug_homegame">
                    <option value="true">Home</option>
                    <option value="false">Away</option>
                </select>
            </div>
            <div class="modal-body" style="">
                <label for="ug_gameday" class="col-form-label">Game Day:</label>
                <input class="form-control" name="ug_gameday" id="ug_gameday">
            </div>
            <div class="modal-body" style="">
                <label for="ug_oponent" class="col-form-label">Oponent:</label>
                <input class="form-control" name="ug_oponent" id="ug_oponent">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btn-update-game" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal New Game -->
<div class="modal fade" id="modalNewGame" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--<div class="modal-header">-->
                <!--<h5 class="modal-title" id="exampleModalLabel">New Game</h5>-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                    <!--<span aria-hidden="true">&times;</span>-->
                <!--</button>-->
            <!--</div>-->
            <div class="alert alert-warning" role="alert">New Game</div>
            <div class="modal-body" style="display: none">
                <label for="id" class="col-form-label">ID:</label>
                <input class="form-control" name="ng_id" id="ng_id">
            </div>

            <%
                var gn = 0;
                games.forEach(function(game) {
                    if (game.number > gn) {
                        gn = game.number;
                    }
                });
                gn++;

            %>

            <div class="modal-body" style="">
                <!--<div class="input-group">-->
                    <!--<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>-->
                    <!--<input id="email" type="text" class="form-control" name="email" placeholder="Email">-->
                <!--</div>-->

                <label for="ng_number" class="col-form-label">Number: <%= gn %></label>
                <input type="hidden" class="form-control" name="ng_number" id="ng_number" value="<%= gn %>">
            </div>
            <div class="modal-body" style="">
                <label for="ng_oponent" class="col-form-label">Team:</label>
                <input class="form-control" name="ng_oponent" id="ng_oponent">
            </div>
            <div class="modal-body" style="">
                <label for="ng_gameday" class="col-form-label">Game Day:</label>
                <input class="form-control" name="ng_gameday" id="ng_gameday">
            </div>
            <div class="modal-body" style="">
                <label for="ng_homegame" class="col-form-label">Home / Away:</label>
                <!--<input class="form-control" name="ng_homegame" id="ng_homegame">-->
                <select class="form-control" name="ng_homegame" id="ng_homegame">
                    <option value="true">Home</option>
                    <option value="false">Away</option>
                </select>
            </div>
            <div class="modal-body" style="">
                <label for="ng_location" class="col-form-label">Ground / Oval:</label>
                <input class="form-control" name="ng_location" id="ng_location">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btn-new-game" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Delete Game -->
<div class="modal fade" id="modalDeleteGame" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--<div class="alert-warning modal-header">-->
                <!--<h5 class="modal-title" id="exampleModalLabel">Delete Game</h5>-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                    <!--<span aria-hidden="true">&times;</span>-->
                <!--</button>-->
            <!--</div>-->
            <h5 class="alert alert-warning modal-title" id="exampleModalLabel">Delete Game</h5>
            <!--<div class="alert alert-warning" role="alert">This can't be undone</div>-->
            <div class="modal-body" style="display: none">
                <label for="id" class="col-form-label">ID:</label>
                <input class="form-control" name="dg_id" id="dg_id">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btn-delete-game" type="button" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>

<script>

    var toggle = true;

    $(".sidebar-icon").click(function() {
        if (toggle)
        {
            $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
            $("#menu span").css({"position":"absolute"});
        }
        else
        {
            $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
            setTimeout(function() {
                $("#menu span").css({"position":"relative"});
            }, 400);
        }
        toggle = !toggle;
    });
</script>
<!--scrolling js-->
<script src="js/jquery.nicescroll.js"></script>
<script src="js/scripts.js"></script>
<!--//scrolling js-->
<script src="js/bootstrap.js"> </script>
<!-- mother grid end here-->
</body>
</html>