<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Portal | Man of the Match | Game App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <!-- Custom Theme files -->
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!--js-->
    <script src="js/jquery-2.1.1.min.js"></script>
    <!--icons-css-->
    <!--<link href="css/font-awesome.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!--Google Fonts-->
    <link href='//fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Work+Sans:400,500,600' rel='stylesheet' type='text/css'>
    <!--static chart-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <!--<script src="js/Chart.min.js"></script>-->

    <!--//charts-->

    <!--skycons-icons-->
    <script src="js/skycons.js"></script>
    <!--//skycons-icons-->
</head>
<body>
<div class="page-container">
    <div class="left-content">
        <div class="mother-grid-inner">
            <%- html["header"] %>
            <!--header start here-->
            <!--<div class="header-main">-->
                <!--<div class="header-left">-->
                    <!--<div class="logo-name">-->
                        <!--<a href="index.html"> <h1>{{HEADER2}}</h1>-->
                            <!--&lt;!&ndash;<img id="logo" src="" alt="Logo"/>&ndash;&gt;-->
                        <!--</a>-->
                    <!--</div>-->

                    <!--<div class="clearfix"> </div>-->
                <!--</div>-->

                <!--<div class="clearfix"> </div>-->
            <!--</div>-->
            <!--heder end here-->

            <!-- script-for sticky-nav -->
            <script>
                $(document).ready(function() {
                    var navoffeset=$(".header-main").offset().top;
                    $(window).scroll(function(){
                        var scrollpos=$(window).scrollTop();
                        if(scrollpos >=navoffeset){
                            $(".header-main").addClass("fixed");
                        }else{
                            $(".header-main").removeClass("fixed");
                        }
                    });

                });
            </script>
            <!-- /script-for sticky-nav -->
            <!--inner block start here-->
            <div class="inner-block">
                <!--market updates updates-->
                <%- html["market"] %>

                <!--mainpage chit-chating-->
                <div class="chit-chat-layer1">
                    <div class="col-md-8 chit-chat-layer1-left">

                    </div>
                    <div class="clearfix"> </div>
                </div>

                <div id="NO_DATA_AVAIL" class="alert alert-info" role="alert" style="display: none">
                    No Game data available - Please vote first
                </div>
                <!--main page chit chating end here-->
                <!--main page chart start here-->
                <div id="CHART" class="main-page-charts" style="display: none">
                    <div class="main-page-chart-layer1">
                        <div class="col-md-12 chart-layer1-left">
                            <div class="glocy-chart">
                                <div class="span-2c" id="cp">
                                    <h3 class="tlt">Player Statistic</h3>

                                    <div class="form-group">
                                        <label for="gameSelector">Game:</label>
                                        <select id="game" class="gameSelector form-control">
                                            <option disabled selected value> -- Select a game -- </option>
                                            <%
                                            gamesVoted.forEach(function(game) {

                                            %> <option value="<%= game._id %>"> #<%= game.number %> <%= game.team %> (<%= game.result %>) [<%= game.gameday %>] </option> <%
                                            });
                                            %>
                                            <option value="all">Overall Standing</option>
                                        </select>
                                    </div>
                                    <input id="barchart" type="hidden" value="1">
                                    <!--<canvas id="hbar" height="400" width="900"></canvas>-->

                                </div>
                            </div>
                        </div>

                        <div class="clearfix"> </div>
                    </div>
                </div>
                <!--main page chart layer2-->

                <!--climate end here-->
            </div>
            <!--inner block end here-->
            <!--copy rights start here-->
            <div class="copyrights">
                <p>© 2016 Shoppy. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
            </div>
            <!--COPY rights end here-->
        </div>
    </div>
    <!--slider menu-->
    <%- html["menu"] %>
</div>
<!--slide bar menu end here-->

<script>

    function loadChart(game) {
        var cn = parseInt($('#barchart').val());
        var divBarIdOLD = "#DIVBARCHART_" + cn;
        cn++;
        var barId = "BARCHART_" + cn;
        var divId = "DIVBARCHART_" + cn;
        $('#barchart').val(cn)
         $('#cp').append('<div id="'+divId+'"><canvas id="'+barId+'" height="400" width="900"><canvas></div>');

        var colors = ["gold", "silver", "burlywood",
            "#1866b4","#cc4300","#03734d","#596468","#367dc4","#da5a1b",
            "#66c2a3","#bac1c4", "#b2d4f5", "#fcc3a7", "#8fd1bb", "#d5dadc",
            "#74abe2","#ef8d5d","#3fb68e","#9ea8ad","#93bfeb","#f5aa85",
            "#0e8c62","#69767c", "#5899DA","#E8743B","#19A979","#848f94"
            ];

        var url = "/getStatistics";
        $.ajax({
            type:'GET',
            url: url,
            data: {
                game: game,
            }
        }).done(function(response){
            var label = [];
            var data = [];
            console.log(response);
            response.data.forEach(function (set) {
                label.push(set.firstname + " " + set.lastname + " (" + set.counter + ")");
                data.push(set.counter);
            })
            if (response.data.length > 0) {
                var ctx = document.getElementById(barId).getContext('2d');

                var header = "Man of the Match: " + response.data[0].firstname + " " + response.data[0].lastname
                if (game == "all") {
                    header = "Player of the Season: " + response.data[0].firstname + " " + response.data[0].lastname
                }

                var chart = new Chart(ctx, {
                    // The type of chart we want to create
                    type: 'horizontalBar',

                    // The data for our dataset
                    data: {
                        labels: label,
                        datasets: [{
                            label: header,
                            backgroundColor: colors,
                            // borderColor: '#b2d4f5',
                            data: data,
                        }]
                    },

                    // Configuration options go here
                    options: {}
                });
                $('#NO_DATA_AVAIL').css("display","none")
                $('#CHART').css("display","")
            } else {
                $('#CHART').css("display","none")
                $('#NO_DATA_AVAIL').css("display","")
            }
            $(divBarIdOLD).css("display","none")

        }).fail(function(response){
            console.log("Oops not working");
        });

    }

    function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
            }
        }
    };

    $( document ).ready(function() {

        if (getUrlParameter('game') !== undefined) {
            var game = getUrlParameter('game');
            $('#game').val(game)
            loadChart(game);
        } else {
            loadChart("all");
            $('#game').val("all")
        }
    });

    $('#game').on('change', function() {
        loadChart(this.value);
    });


    var toggle = true;

    $(".sidebar-icon").click(function() {
        if (toggle)
        {
            $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
            $("#menu span").css({"position":"absolute"});
        }
        else
        {
            $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
            setTimeout(function() {
                $("#menu span").css({"position":"relative"});
            }, 400);
        }
        toggle = !toggle;
    });
</script>
<!--scrolling js-->
<script src="js/jquery.nicescroll.js"></script>
<script src="js/scripts.js"></script>
<!--//scrolling js-->
<script src="js/bootstrap.js"> </script>

<!-- mother grid end here-->
</body>
</html>