<!--Author: W3layouts
   Author URL: http://w3layouts.com
   License: Creative Commons Attribution 3.0 Unported
   License URL: http://creativecommons.org/licenses/by/3.0/
   -->
<!DOCTYPE HTML>
<html>
<head>
    <title>Portal | Man of the Match | Game App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <!-- Custom Theme files -->
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/gameApp.css" rel="stylesheet" type="text/css" media="all"/>
    <!--js-->
    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!--icons-css-->
    <!--<link href="css/font-awesome.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!--Google Fonts-->
    <link href='//fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Work+Sans:400,500,600' rel='stylesheet' type='text/css'>
    <!--static chart-->
    <script src="js/Chart.min.js"></script>
    <!--//charts-->
    <!--<script src="apexcharts/apexcharts.js"></script>-->
    <!--<script src="apexcharts/modules/Annotations.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <!--skycons-icons-->
    <script src="js/skycons.js"></script>
    <!--//skycons-icons-->
    <script type="text/javascript" src="js/portal.js"></script>
</head>
<body>
<div class="page-container">
    <div class="left-content">
        <div class="mother-grid-inner">
            <!-- HEADER -->
            <%- html["header"] %>

            <!-- script-for sticky-nav -->
            <script>
                $(document).ready(function() {
                    var navoffeset=$(".header-main").offset().top;
                    $(window).scroll(function(){
                        var scrollpos=$(window).scrollTop();
                        if(scrollpos >=navoffeset){
                            $(".header-main").addClass("fixed");
                        }else{
                            $(".header-main").removeClass("fixed");
                        }
                    });

                });
            </script>
            <!-- /script-for sticky-nav -->

            <!--inner block start here-->
            <div class="inner-block">
                <!--market updates updates-->
                <%- html["market"] %>

                <!-- Man of the Match -->
                <div class="chit-chat-layer1">
                    <div class="col-md-12 chit-chat-layer1-left">
                        <div class="alert alert-info" role="alert">
                            Vote Man of the Match

                            <br/>You need to score a game before you can vote on it
                        </div>

                        <form>
                            <div class="form-group">
                                <label for="gameSelector">Game:</label>
                                <select id="game" class="form-control">
                                    <option disabled selected value> -- Select a game -- </option>
                                    <%
                                    gamesPlayed.forEach(function(game) {
                                        if (!game.voted) {

                                    %> <option value="<%= game._id %>"> #<%= game.number %>  <%= game.team %> <%= game.gameday %> <%= game.goalsscored %> : <%= game.goalsconceded %> </option> <%
                                        }
                                    });
                                    %>

                                </select>
                            </div>
                            <div id="votingGroup" style="display: none">
                            <div class="form-group">

                                <label for="voterSelector">Voter:</label>
                                <select id="voter" class="form-control" style="color: cornflowerblue; font-weight: bolder;">
                                    <option disabled selected value> -- Select a player -- </option>
                                    <%
                                    players.forEach(function(player) {

                                    %> <option value="<%= player._id %>"> <%= player.firstname %> <%= player.lastname %> </option> <%
                                    });
                                    %>

                                </select>
                            </div>
                            <div class="form-group">

                                <label for="goldSelector" style="color: gold">Gold (3pts):</label>
                                <select id="gold" class="form-control">
                                    <option disabled selected value> -- Select a player -- </option>
                                    <%
                                    players.forEach(function(player) {

                                    %> <option value="<%= player._id %>"> <%= player.firstname %> <%= player.lastname %> </option> <%
                                    });
                                    %>

                                </select>
                            </div>
                            <div class="form-group">

                                <label for="silverSelector" style="color: silver">Silver (2pts):</label>
                                <select id="silver" class="form-control">
                                    <option disabled selected value> -- Select a player -- </option>
                                    <%
                                    players.forEach(function(player) {

                                    %> <option value="<%= player._id %>"> <%= player.firstname %> <%= player.lastname %> </option> <%
                                    });
                                    %>

                                </select>
                            </div>
                            <div class="form-group">

                                <label for="bronzeSelector" style="color: burlywood">Bronze (1pt):</label>
                                <select id="bronze" class="form-control">
                                    <option disabled selected value> -- Select a player -- </option>
                                    <%
                                    players.forEach(function(player) {

                                    %> <option value="<%= player._id %>"> <%= player.firstname %> <%= player.lastname %> </option> <%
                                    });
                                    %>

                                </select>
                            </div>
                            </div>
                            <button id="button_vote" style="display: none" type="button" class="btn btn-primary">Vote</button>
                            <button id="button_not_played" style="display: none" type="button" class="btn btn-danger">Not played</button>
                            <button id="button_results" style="display: none" type="button" class="btn btn-primary">Show Results</button>
                        </form>

                    </div>
                    <div class="clearfix"> </div>
                </div>

                <!--climate end here-->
            </div>
            <!--inner block end here-->
            <!--copy rights start here-->
            <div class="copyrights">
                <p>© 2016 Shoppy. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
            </div>
            <!--COPY rights end here-->
        </div>
    </div>
    <!--slider menu-->
    <%- html["menu"] %>

</div>
<!--slide bar menu end here-->


<script>

    $('#button_not_played').on('click', function(event) {
        var button = $(event.relatedTarget); // Button that triggered the modal

        var voteObj = {
            game: $('#game').val(),
            voter: $('#voter').val(),
            not_played: true
        }

        $.ajax({
            type:'PUT',
            url: '/createVote',
            data: voteObj
        }).done(function(response) {
            console.log(response);


            $('#voter')
                .find('option')
                .remove()
                .end()

            response.forEach(function (player) {
                $ ('#voter').append($('<option>', {
                    value: player._id,
                    text: player.firstname + " " + player.lastname
                }));
            });

            $("#gold").val($("#gold option:first").val());
            $("#silver").val($("#silver option:first").val());
            $("#bronze").val($("#bronze option:first").val());

            if (response.length == 0) {
                $("#button_vote").css("display","none");
                $("#votingGroup").css("display","none");
                $("#button_not_played").css("display","none");
                $("#button_results").css("display","inline");
            }

        }).fail(function(response){
            console.log("Oops not working");
        });


    });

    $('#button_results').on('click', function(event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        window.location.replace("statistics?game=" + $("#game").val());
    });

    $('#button_vote').on('click', function(event) {
        var button = $(event.relatedTarget); // Button that triggered the modal

        var voteObj = {
            game: $('#game').val(),
            voter: $('#voter').val(),
            gold: $('#gold').val(),
            silver: $('#silver').val(),
            bronze: $('#bronze').val()
        }
        console.log(voteObj)

        if (voteObj.gold == null || voteObj.silver == null || voteObj.bronze == null) {
            alert("Please select a player!")
            return false;
        }

        $.ajax({
            type:'PUT',
            url: '/createVote',
            data: voteObj
        }).done(function(response) {
            console.log(response);

            $('#voter')
                .find('option')
                .remove()
                .end()

            response.forEach(function (player) {
                $ ('#voter').append($('<option>', {
                    value: player._id,
                    text: player.firstname + " " + player.lastname
                }));
            });

            $("#gold").val($("#gold option:first").val());
            $("#silver").val($("#silver option:first").val());
            $("#bronze").val($("#bronze option:first").val());

            if (response.length == 0) {
                $("#button_vote").css("display","none");
                $("#votingGroup").css("display","none");
                $("#button_not_played").css("display","none");
                $("#button_results").css("display","inline");
            }

        }).fail(function(response){
            console.log("Oops not working");
        });


    });

    $('#game').on('change', function() {

        $('#voter')
            .find('option')
            .remove()
            .end()

        var url = "/getVoter";
        $.ajax({
            type:'GET',
            url: url,
            data: {
                game:this.value,
            }
        }).done(function(response){

            console.log(response);
            if (response.players.length == 0 && response.votes.length != 0) {
                $("#button_vote").css("display","none");
                $("#votingGroup").css("display","none");
                $("#button_not_played").css("display","none");
                $("#button_results").css("display","inline");
            } else {
                $("#button_vote").css("display","inline");
                $("#votingGroup").css("display","block");
                $("#button_not_played").css("display","inline");
                $("#button_results").css("display","none");
            }
            response.players.forEach(function (player) {
               $ ('#voter').append($('<option>', {
                   value: player._id,
                   text: player.firstname + " " + player.lastname
               }));
            });


        }).fail(function(response){
            console.log("Oops not working");
        });
    });

</script>
<!--scrolling js-->
<script src="js/jquery.nicescroll.js"></script>
<script src="js/scripts.js"></script>
<!--//scrolling js-->
<script src="js/bootstrap.js"> </script>

<!-- mother grid end here-->
</body>
</html>